*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lexend';
    font-size: 1.2rem;
    margin: 0px;

    /*hide scrollbar on other types of browser*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*hide scrollbar for webkit browsers*/
::-webkit-scrollbar {
    display: none;
}



/* navbar styling */
.navbar {
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: var(--navbar-backgroud-color);
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px;
}

.navbar li {
    list-style: none;
    align-items: center;
    height: 100%;
}

.navbar img {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.navbar a {
    padding: 0.5rem 1rem;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--navbar-button-default-color);

    height: 100%;
}

.navbar a:hover, a:active {
    background-color: var(--navbar-button-hover-color);
}


/*hero styling*/
.hero {
    width: 100%;
    background-image: url(profile-bubble.jpg);
}


/*main content styling*/
.container {
    padding: 0.5rem;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 0.5rem;
}

.container h3 {
    margin-top: 0;
}

.main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}